# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/

# production
build/

# python
__pycache__/
*.pyc
.venv/
venv/

# env files
.env
.env.local
.env.production
.env.development

# sqlite
*.db

# misc
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts
.vercel
